body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.links {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.links li {
    margin-right: 20px;
}

.links li:last-child {
    margin-right: 0;
}

.links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

.links li a:hover {
    background-color: #555;
}

.links li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.links li a:hover::after {
    width: 100%;
}

.carrinho img {
    height: 40px;
    margin-right: 10px;
}

#searchbar {
    margin-right: 20px;
}
